{% extends 'base.html' %}
{% load comments bootstrap_pagination %}
{% block main %}
    <main class="col-md-8">
        {% if query %}
            {% for obj in object_list %}
                {% include 'blog/_post_detail.html' with post=obj.object %}
            {% empty %}
                <p>没有搜到任何文章，请尝试更换搜索关键字。</p>
            {% endfor %}
            {% if object_list %}
                {% bootstrap_paginate page_obj range=10 show_first_last='true' size='small' %}
            {% endif %}
        {% else %}
            你要搜什么？
        {% endif %}
    </main>
{% endblock main %}