<div class="col-md-6 col-sm-6">
    <div class="post-img">
        <a href="{{ post.get_absolute_url }}">
            <img src="{% if post.cover %}
                            {{ post.cover.cover_370_230.url }}
                        {% else %}
                            {{ post.category.cover.cover_370_230.url }}
                        {% endif %}"
                 alt="Popular Post"/>
        </a>
        <a href="{% url 'blog:in_category' post.category.slug %}"
           class="post-tag">
            {{ post.category }}
        </a>
        <div class="post-info">
            <p>
                <span class="post-date">
                    <a href="{{ post.get_absolute_url }}">{{ post.pub_date | date:'Y-m-d' }}</a>
                </span>
                <span class="post-comments">
                    <a href="{{ post.get_absolute_url }}#comment-area" class="ds-thread-count"
                       data-thread-key="{{ post.pk }}">
                    </a>
                </span>
                <span class="post-social-links">
                    <a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a>
                </span>
            </p>
        </div>
    </div>
    <div class="post-content">
        <h6 class="post-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h6>
        <div class="post-short-desc">
            {% if post.lead %}
                {{ post.lead_html | truncatechars_html:200 }}
            {% else %}
                {{ post.excerpt_html | truncatechars_html:200 }}
            {% endif %}
        </div>
        <a href="{{ post.get_absolute_url }}"
           class="continue-link">继续阅读...</a>
    </div>
</div>