{% load comments %}

{% block breadcrumb %}
{% endblock %}
<div class="card card-block">
    {% block post_content %}
        <div class="media">
            <div class="media-body">
                {% block post_title %}
                    <h3 class="media-heading font-weight-bold"><a
                            href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h3>
                {% endblock post_title %}
                {% block post_meta %}
                    <ul class="list-inline text-muted post-meta">
                        <li class="list-inline-item meta-category">
                            <a class="card-text" href="{% url 'blog:in_category' post.category.slug %}">
                                {{ post.category.name }}
                            </a>
                        </li>
                        <li class="list-inline-item meta-author">
                            <span class="card-text">
                                {% if post.author.name %}
                                    {{ post.author.name }}
                                {% else %}
                                    {{ post.author.username }}
                                {% endif %}
                            </span>
                        </li>
                        <li class="list-inline-item meta-date">
                            <time class="card-text">{{ post.pub_date |date }}</time>
                        </li>
                        <li class="list-inline-item meta-comment">
                            {% get_comment_count for post as comment_count %}
                            <a class="card-text" href="">评论 {{ comment_count }}</a>
                        </li>
                        <li class="list-inline-item meta-views">
                            <span class="card-text">阅读 {{ post.views }}</span>
                        </li>
                    </ul>
                {% endblock %}
                {% block post_body %}
                    <div class="card-text m-b-1">
                        {% if post.lead %}
                            {{ post.lead_html | truncatechars_html:200 }}
                        {% else %}
                            {{ post.excerpt_html | truncatechars_html:200 }}
                        {% endif %}
                    </div>
                {% endblock post_body %}

                {% block continue_reading %}
                    {% if post.body.has_more %}
                        <a class="btn btn-outline-primary btn-sm" role="button" href="{{ post.get_absolute_url }}">
                            继续阅读 >>
                        </a>
                    {% endif %}
                {% endblock continue_reading %}
            </div>
            {% if post.cover %}
                <div class="media-right">
                    <a href="{{ post.get_absolute_url }}">
                        <img class="media-object" src="{{ post.cover.cover_thumbnail.url }}"
                             alt="Sorry, picture can't display">
                    </a>
                </div>
            {% endif %}
        </div>
    {% endblock %}
</div>