{% load blog_tags %}

<aside class="col-md-4">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">最新文章</h3>
            <hr>
            <ul class="list-unstyled">
                {% get_recent_posts as recent_posts %}
                {% for post in recent_posts %}
                    <li class="m-b-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% empty %}
                    暂无文章
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">分类</h3>
            <hr>
            <ul class="list-unstyled">
                {% get_categories as category_list %}
                {% for category in category_list %}
                    <li class="">
                        <a href="{% url 'blog:in_category' category.slug %}">{{ category.name }}
                            <span class="pull-xs-right">({{ category.num_categories }})</span>
                        </a>
                    </li>
                {% empty %}
                    暂无分类
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">标签云</h3>
            <hr>
            <ul class="list-inline">
                {% get_tags as tag_list %}
                {% for tag in tag_list %}
                    <li class="list-inline-item">
                        <a href="{% url 'blog:in_tag' tag.slug %}"
                           class="tag tag-{% cycle 'default' 'danger' 'info' 'primary' 'success' %}">
                            {{ tag.name }}
                        </a>
                    </li>
                {% empty %}
                    暂无标签
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if post %}
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">目录</h3>
                <hr>
                <div id="toc">
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-block">
            <h3 class="card-title">归档</h3>
            <hr>
            {% get_archive as dates %}
            {% regroup dates by year as dates_by_year %}
            <ul>
                {% for mouth in dates_by_year %}
                    <li>
                        <a href="{% url 'blog:archive_year' mouth.grouper %}"> {{ mouth.grouper }} 年</a>
                        <ul>
                            {% for d in mouth.list %}
                                <li>
                                    <a href="{% url 'blog:archive_month' mouth.grouper d|date:'m' %}">
                                        {{ d |date:'n' }}月
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>