{% load crispy_forms_tags %}

{% crispy form %}
{#    <form action="">#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <div class="form-group">#}
{#                    <label for="exampleInputEmail1">昵称：</label>#}
{#                    <input type="email" class="form-control" id="exampleInputEmail1"#}
{#                           aria-describedby="emailHelp" placeholder="">#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="form-group">#}
{#                    <label for="exampleInputEmail1">邮箱：</label>#}
{#                    <input type="email" class="form-control" id="exampleInputEmail1"#}
{#                           aria-describedby="emailHelp" placeholder="">#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="form-group">#}
{#                    <label for="exampleInputEmail1">网址：</label>#}
{#                    <input type="email" class="form-control" id="exampleInputEmail1"#}
{#                           aria-describedby="emailHelp" placeholder="">#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-12">#}
{#                <div class="form-group">#}
{#                    <textarea class="form-control" id="exampleTextarea" rows="5"></textarea>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-12">#}
{#                <button class="btn btn-outline-primary btn-sm pull-xs-right">发表评论</button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
